.App {
  text-align: center;
  margin: auto;
  width: fit-content;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
section{
  padding: 1em;
}
.main-div{
  margin-top: 1em;
  width: fit-content;
  border: 3px solid black;
}
.title-section{
  text-align: left;
}

.innerContent{
  display: flex;
  justify-content: space-around;
}

.rightElement img{
  width: 250px;
}

.totalPrice-discount{
  color: #6ad3e0;
}
.bottom-sec{
  border-top: 3px solid black;
}
.totalPrice{
  text-align: left;
  width: 100px;
  margin-left: auto;
  padding-right: 2em;
}
.totalPrice p {
  margin: 0;
}
.totalPrice-topay{
  color: red;
}
.checkbox input{
  width: 20px;
  height: 20px;
  margin-top: 25px;
}
.update-quantity{
  text-align: left;
}
.update-quantity p{
  font-size: 25px;
}